
/*CSS RESET*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

body {
  font-family: 'Inter', sans-serif;
}


.error-page {
  background-image: url('./assets/ajnotfound.gif');
  background-size: cover;
  background-position: center;
  height: calc(100vh);
  padding-top: 50px;
  padding-left: 50px;
  font-weight: bold;
  color: black;
  font-size: 5em;
}


.newarrivals-page {
  margin-top: 300px;
}


.highlights-page {
  margin-top: 200px;
}

.cardNew1 {
  background-image: url('./assets/new1.svg');
  background-repeat: no-repeat;
  margin-top: 1rem;
  background-size: cover;
  min-height: 600px;
  color: white;
  background-position: center; 
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1); 
}

.cardNew2 {
  background-image: url('./assets/new2.svg');
  background-repeat: no-repeat;
  margin-top: 1rem;
  background-size: cover;
  min-height: 600px;
  color: white;
  background-position: center;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);  
}

.cardNew3 {
  background-image: url('./assets/new3.svg');
  background-repeat: no-repeat;
  margin-top: 1rem;
  background-size: cover;
  min-height: 600px;
  color: white;
  background-position: center;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1); 
}
.cardNew4 {
  background-image: url('./assets/new4.svg');
  background-repeat: no-repeat;
  margin-top: 1rem;
  background-size: cover;
  min-height: 600px;
  color: white;
  background-position: center;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1); 
}

.shop-by-brand {
  font-size: 3em;
  font-weight: bold;
}

.new-arrivals {
  font-size: 3em;
  font-weight: bold;
}

.cardHighlight1 {
  background-image: url('https://static.nike.com/a/images/w_960,c_limit,f_auto/zefhnvehhz6yugwvf6pe/nike-lebron-watch.gif');
  background-repeat: no-repeat;
  margin-top: 1rem;
  margin-bottom: 2rem;
  background-size: cover;
  min-height: 600px;
  color: white;
  background-position: center;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1); 
}


.cardHighlight2 {
  background-image: url('https://i.pinimg.com/originals/f7/0d/5b/f70d5b597fbbf69ae1d6a13f0e0d1c46.gif');
  background-repeat: no-repeat;
  margin-top: 1rem;
  margin-bottom: 2rem;
  background-size: cover;
  min-height: 600px;
  color: white;
  background-position: center;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1); 
}

.cardHighlight3 {
  background-image: url('https://i.gifer.com/AvDn.gif');
  background-repeat: no-repeat;
  margin-top: 1rem;
  margin-bottom: 2rem;
  background-size: cover;
  min-height: 600px;
  color: white;
  background-position: center;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1); 
}

.spinner {
  display: block;
  position: fixed;
  z-index: 1031;
  top: 50%;
  right: 50%;
  margin-top: -..px;
  margin-right: -..px;
}

.home-page {
  background-image: url('./assets/bannerhome.png');
  background-size: cover;
  background-position: center;
  height: calc(100vh - 60px);
}

.login-page {
  background-image: url('./assets/bannerlogin.png');
  background-size: cover;
  background-position: center;
  height: calc(100vh - 60px);
}

.footer {
  background-image: url('./assets/footerbg.png');
  background-size: cover;
  background-position: center;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  color: white;
}



.nav-bar{
  background: linear-gradient(to right, #3AAAFC, #388EFB, #B82FFF);
  box-shadow: 0px 0px 5px black;
  color: white;

}

.navbar-nav .nav-link:hover {
  text-decoration: underline;
  color: white;
}

.navbar-brand {
  padding-left: 20px;
  margin-left: 10px;
}

.tagline {
  padding: 80px 0 50px 20px;
  text-align: left;
}

.tagline h1 {
  padding-left: 50px;
  margin-left: 10px;
  font-weight: bold;
  color: white;
  font-size: 6em;
}

.tagline h2 {
  padding-left: 50px;
  margin-left: 10px;
  font-weight: bold;
  color: white;
  font-size: 3.5em;
}

.image-container {
  text-align: right;
  padding-top: 20px;
  margin-top: 20px;
  padding-right: 20px;
  margin-right: 20px;
  width: 70%;
}

.image-container img {
  height: auto;
  max-width: 100%;
  transition: all 0.2s ease-in-out;
}

.image-container img:hover {
  transform: scale(1.3);
}

.shop-now-btn {
  background-color: yellow;
  color: black;
  font-weight: bold;
  padding-left: 4rem;
  margin-left: 4.5rem;
  transition-duration: 0.4s;
  margin-top: 1rem;

}

.shop-now-btn:hover {
  transform: scale(1.2);
  background-color: lightyellow;
  color: black;
}

.nav-links {
  display: flex;
  justify-content: left;
  align-items: left;
  
}

.nav-link {
  padding: 10px;
  margin: 0 5px;
}

.login-card {
  float: right;
  width: 40%;
  margin-right: 5rem;
  margin-top: 5rem;
  box-shadow: 0px 2px 5px lightgray;
}

.submit-btn {
  display: block;
  width: 100%;
}

.login-as-seller {
  text-align: center;

}